<header>
    <nav>
        <a href="/">HOMEPAGE</a>
        <a href="/restaurants">ALL RESTAURANTS</a>
        <a href="/restaurants/new">ADD A RESTAURANT</a>
        <a href="#">FAVORITES</a>
    </nav>
</header>