<header>
    <nav>
        <a href="/">HOMEPAGE</a>
        <a href="/restaurants">ALL RESTAURANTS</a>
        <a href="/restaurants/new">ADD A RESTAURANT</a>
        <a href="/restaurants/favorites">MY FAVORITES</a>
        <a href="/users/new">SIGN UP</a>
        <a href="/sessions/new">LOG IN</a>
    </nav>
</header>