<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Restaurant City</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/restaurants">All Restaurants</a>
                <a class="nav-item nav-link" href="/restaurants/new">Add a Restaurant</a>
                <a class="nav-item nav-link" href="/restaurants/favorites">My Favorites</a>
                <div class="d-flex align-items-center">
                    <a class="nav-item nav-link" href="sessions/new">Log In</a>
                    <form action="/sessions/destroy" method="POST">
                        <input type="submit" value="Log Out">
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>