<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="container">
            <% include ../partials/header.ejs %>
            <h1>My Favorite Restaurants</h1>
        </div>
    </body>
</html>